body{
    background-color:blue;
    color: deepskyblue;
}
img{
   border: 10px solid;
   border-bottom-style: 15px;
   border-color:white;
   text-align: center;
   width: 800px;
   height: 600px;
}
div{
    text-align: center;
    font-size:  50px; ;
}
h1{
    font-size: 100px;
    text-align: center;
}
p{
    font-size: 50px;
    text-align: center;
}